*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #273037; 
    padding: 1rem 0;
}
/*NAV*/
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 15px;
}
.logo {
    height: 50px; 
    padding-left: 25px;
}
nav {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}
.menu {
    list-style: none; 
    padding-right: 200px;
    margin: 0;
    display: flex; 
    gap: 2.5rem; 
}
.menu li {
    display: inline-block;
    position: relative; 
}
.menu li a {
    text-decoration: none; 
    color: #ffffff; 
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; 
    font-weight:500; 
    padding: 0.5rem 1rem; 
    display: inline-block;
    transition: color 0.3s ease;
}
.menu li a:hover {
    color: #f0c26c; 
}
.menu li::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px; 
    padding: 2px; 
    background: linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37); 
    background-size: 300%; 
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    transition: opacity 0.3s ease, background-position 0.5s ease; 
    background-position: 0% 50%; 
    opacity: 0;
}
.menu li:hover::before {
    opacity: 1; 
    background-position: 100% 50%; 
}
/*DEBAJO DEL NAV*/
/*IMAGEN DE FONDO*/
.imagen-blanca-con-lineas {
    position: relative;
    width: 100%;
    height: auto; 
}
.imagen-blanca-con-lineas img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    position: relative;
}
/*CONTENIDO*/
.hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 100px;
    display: flex; 
    justify-content: flex-start;
    align-items: center; 
    color: white;
}
/*RECUADRO IZQUIERDO*/
.background-azul {
    background-color: #273037; 
    padding: 1.5rem;
    margin-bottom: 130px;
    max-width: 50%; 
    height: 380px;
}
.background-azul h2{
    font-family: "Libre Baskerville", serif;
    font-size: 2.4rem;
    font-weight:200;
    background: linear-gradient(135deg, #d4af37, #f0c26c, #d4af37, #f0e68c, #d4af37); 
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent; 
}
.background-azul p {
    color: whitesmoke;
    font-size: 1.27rem;
    font-family: "Montserrat", sans-serif;
    padding-top: 15px;
}
/*RECUADRO DERECHO*/
.recuadro-blanco {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    max-width: 50%; 
    width: 100%; 
    flex: 1; 
}
.recuadro-blanco .logo-dorado {
    width: 400px; 
    margin-bottom: 1rem;
}
.recuadro-blanco p {
    color: #555; 
    font-size: 1rem;
    line-height: 1.6;
}
/*RECUADROS AZULES*/
.recuadros-inferiores {
    position: absolute; 
    bottom: 10%; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex; 
    justify-content: center;
    gap: 200px;
    z-index: 2; 
}
.recuadro-azul {
    background-color: #161920;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem; 
    font-weight:20px;
    text-align: center;
    padding: 1.3rem;
    flex: 1;
    max-width: 300px;
}
.recuadro-azul p{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
/* "CRECER EN DUBAI" */
.recuadro-inferior {
    position: absolute; 
    bottom: -8.5rem; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    height: 300px; 
    background-color: #273037; 
    z-index: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    color: whitesmoke; 
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem; 
    text-align: center; 
}
.recuadro-inferior h2 {
    margin-top: 5rem;
    margin-bottom: 2rem; 
    font-size: 3rem; 
    font-weight: bold;
}
.recuadro-inferior p {
    font-size: 1.2rem; 
    line-height: 1.5; 
    max-width: 80%; 
}
/*DOBLE IMAGEN DE DUBAI*/
.city-image {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 136px auto;/*no tocar se super pone con lo de arriba*/
}
.city-image .background {
    width: 100%;
    height: auto;
}
.city-image::before { 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.5);  
    z-index: 1; 
}
.city-image .circle-image {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 300px; 
    height: 300px;
    border-radius: 100%;
    overflow: hidden;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.city-image .circle-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 80%;
}
.info-box {
    position: relative;
    background-color: #444;
    padding: 20px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.button {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons a:hover {
    color: #ffffff; 
}
.button img {
    width: 50px; 
    height: auto;
    margin-bottom: 10px;
}
.button p {
    font-size: 1em;
    margin: 0;
    color: #333;
}
/* Sección Promocional */
.promo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background: url("/images/edificioUno.png") no-repeat center center;
    background-size: cover;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
}
.promo-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}
.promo-image {
    flex: 1; 
    max-width: 50%;
    margin-right: 20px;
    z-index: 2;
    position: relative;
}
.promo-image img {
    width: 100%;
    height: auto;
}
.promo-text {
    flex: 1;
    text-align: left;
    z-index: 2;
    position: relative;
    color: white;
}
.promo-text p {
    font-size: 1.1em;
    line-height: 1.6;
    color: white;
}
/* Sección de NEWS */
.news-section {
    position: relative;
    padding: 60px 20px; /* Ajusta el padding según sea necesario */
    background: url('/images/edificioDos.png') no-repeat center center; /* Imagen de fondo */
    background-size: cover; /* Cubre toda la sección */
    color: white; /* Color del texto para contraste */
}
.news-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay oscuro para legibilidad */
    z-index: 1; /* Posiciona el overlay sobre la imagen de fondo */
}
.titulo {
    display: flex;
    flex-direction:row; 
    justify-content: left;
    align-items: center;
    padding: 40px 20px; /* Espaciado alrededor de la sección */
    text-align: center;
    color: white; /* Color del texto */
}
.logodorado {
    max-width: 100px; /* Tamaño máximo del logo */
    height: auto;
    margin-bottom: 5px; /* Espacio entre el logo y el título */
}
.titulo h1 {
    font-size: 1em;
    margin: 0;
    color: white;
    text-transform: uppercase;
}
.news-section h1, .news-section p, 
.news-section .news-articles, .news-section .article {
    position: relative;
    z-index: 2; 
}
.news-section .article img {
    width: 100%;
    height: auto;
}
.news-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}
.article {
    position: relative;
    background:#f0c26c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease; 
    max-width: 300px; 
    text-align: center;
}
.article img {
    position: relative;
    left: 10px;
    width: 100%;
    height: auto;
    display: block;
}
.rectangle { 
    position: absolute; 
    bottom: -10px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    height: 100px; 
    background-color: #d4af37; 
    z-index: -1; 
}
.article p {
    padding: 15px;
    font-size: 1em;
    color: #333;
    position: relative;
}
.article:hover {
    transform: translateY(-10px);
}

/* Sección de Preguntas FAQ´S */
.faq-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.faq-item {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid transparent; 
    border-radius: 10px; 
    padding: 20px;
    text-align: left; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, border-color 0.3s;
}
.faq-item:hover {
    border-color: #f0c26c;
    transform: scale(1.05); 
}
.faq-item h3 {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.faq-item button {
    align-self: flex-start; 
    background-color: #000000; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}
.faq-item button:hover {
    background-color: #f0c26c; 
}
@media (max-width: 768px) { 
    .faq-grid { 
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas más pequeñas */ } 
} 
@media (max-width: 480px) {
    .faq-grid { 
    grid-template-columns: 1fr; /* Una columna en pantallas muy pequeñas */ }
}
    /* FOOTER */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-column {
    flex: 1;
    padding: 10px;
}
.footer-column h3 {
    margin-bottom: 10px;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin-bottom: 10px;
}
.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
}
.footer-column ul li a:hover {
    color: white;
}
.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    color: #ccc;
    border-top: 1px solid #444;
}
.footer-bottom .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.footer-bottom .footer-logo img {
    max-width: 100px;
    height: auto;
}
.footer-bottom .footer-logo p {
    margin: 5px 0;
    font-size: 1.2em;
}
.footer-bottom .footer-logo span {
    font-size: 0.9em;
    color: #999;
}
.footer-bottom p {
    margin: 0;
}
